body{
    text-align: center;
}
.quiz{
    width: 1000px;
    height: 950px;
}
.quiz1{
    width: 1000px;
    height: 900px;
}
.quiz2{
    width: 1000px;
    height: 800px;
}
.question{
    text-align: center;
    position: relative;
    left: 170px;
    width: 330px;
    height: 40px;
    background: linear-gradient(transparent 60%, #ffff66 60%);
}
.image1{
    width: 636px;
    border: 1px solid #ebebeb;
    -webkit-box-shadow: 0 3px 2px -2px rgba(0,0,0,.13);
}
.image{
    border: 1px solid #ebebeb;
    -webkit-box-shadow: 0 3px 2px -2px rgba(0,0,0,.13);
    width: 636px;
    height: 477px;
    left: 700px;
}
.image2{
    width: 636px;
    height: 318px;
    border: 1px solid #ebebeb;
    -webkit-box-shadow: 0 3px 2px -2px rgba(0,0,0,.13);
}
.answer{
    background:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    text-align: left;
    padding: 13px;
    width: 613px;
    height: 40px;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    left: 180px;
    border: 1px solid #ebebeb;
    -webkit-box-shadow: 0 3px 2px -2px rgba(0,0,0,.13);
}
.finalanswer{
    width: 636px;
    height: 80px;
    text-align: left;
    font-size: 17px;
    position: relative;
    left: 180px;
     border: 1px solid #ebebeb;
    -webkit-box-shadow: 0 3px 2px -2px rgba(0,0,0,.13);
}
.finalanswer1{
    width: 70px;
    height: 20px;
    text-align: left;
    font-size: 17px;
    font-weight: 600;
    position: relative;
     margin-bottom: 0px;
     padding-left: 17px;

}
.finalanswer2{
    width: 636px;
    height: 40px;
    text-align: left;
    font-size: 17px;
    position: relative;
     padding-top: 10px;
     padding-left: 17px;
     margin-top: 0px;
     padding-bottom: 17px;
}
.box{
    width: 636px;
    height: 120px;
    right: 180px;
    margin-left: 180px;
    border: 1px solid #ebebeb;
}

/* @media(min-width:640px){
    .container{
        
    }
}  */